# ===========================================
# SERVER
# ===========================================

PORT=3333

# ===========================================
# DATABASE
# ===========================================

DB_NAME=nome_do_banco
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_HOST=localhost
DB_DIALECT=mysql

# ===========================================
# JWT
# ===========================================

SECRET=sua_chave_secreta_jwt 

